<div>
    <p style="font-size:9pt;color:darkgray;line-height:14pt;text-align:center">
        巨匠小舖股份有公司&nbsp;&nbsp;&nbsp;&nbsp;service@pcschool.com.tw<br />
        TEL:(03)3474-878&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FAX:(03)3474-979</p>
</div>